{% extends "layouts/base.html" %}

{% set sidehodeTittel = title %}

{% set annetUtstyr = helpers.getSiblingContent(collections.utstyr, page) %}

{# Render post date and any tags that this post has been filed under #}
{% set sidehodeOppsummering %}
  {% if tags %}
    <p class="visually-hidden" id="tags-desc">Kategorier dette produktet hører til.</p>
    <ul class="tags-list" aria-describedby="tags-desc">
      {% for tag in tags %}
      <li>
          <a href="/tag/{{ tag | slugify }}/">#{{ tag | title | replace(' ', '') }}</a>
        </li>
        {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% block content %}
  <article>
    {% include "partials/sidehode.html" %}

    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
      {{ content | safe }}
    </div>
    {% if annetUtstyr %}
      <footer class="recommended-posts">
        {% set utstyrslisteElementer = annetUtstyr %}
        {% set utstyrslisteOverskrift = 'Annet utstyr du kanskje vil like' %}
        {% include "partials/tipsliste.html" %}
      </footer>
    {% endif %}
  </article>
{% endblock %}